.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          = link_to "Popular PROTO", root_path
        %li{role: "presentation"}
          = link_to "Newest PROTO", protos_path
      = button_to "View Tags", tags_path, method: :get, class: "btn btn-default col-lg-1"

.container.proto-list
  .row
    - @protos.each do |proto|
      .col-sm-4.col-md-3.proto-content
        .dropdown.drop_menu_location
          - if user_signed_in? && proto.user_id == current_user.id
            %button.btn.btn-default.dropdown-toggle#dropdownMenu{ type: "button", aria: { expanded: "true" }, data: { toggle: "dropdown" } }
              Action
            %ul.dropdown-menu{ aria: { labelledby: "dropdownMenu1" } }
              %li
                = link_to "Delete", "/protos/#{proto.id}", method: :delete, rel: "nofollow", data: { method: "delete" }
              %li
                = link_to "Edit", edit_proto_path(proto)
        .thumbnail
          = link_to image_tag(proto.thumnails.main.first.image), proto_path(proto)
          .caption
            %h3
              = link_to proto.title, proto_path(proto)
            .proto-meta
              .proto-user
                = link_to proto.user.username, user_path(proto.user)
              .proto-posted
                %time
                  = time_ago_in_words proto.created_at
            %ul.proto-tag-list.list-inline
              - proto.tag_list.each do |tag|
                %li
                  = link_to tag, tag_path(tag), class: "btn btn-default"
