-if user_signed_in?

  - if like_user.exists?(proto_id: @proto.id)
    %button#like-button.btn.btn-default.decrement
      = link_to image_tag("icom_heart_red.svg"), like_path(@proto), method: :delete, remote: true
      like
      %span#like-sum
        = likes_counter(@likes)
  - else
    %button#like-button.btn.btn-default.decrement
      = link_to image_tag("icon_heart.svg"), likes_path(proto_id: @proto.id), method: :post, remote: true
      like
      %span#like-sum
        = likes_counter(@likes)

-else
  %button#like-button.btn.btn-default.decrement
    = link_to image_tag("icon_heart.svg"), likes_path(proto_id: @proto.id), method: :post, remote: true
    like
    %span#like-sum
      = likes_counter(@likes)



/ - if user_like.exists?(prototype_id: @prototype)
/   %button.btn.btn-default.decrement-button
/     = link_to image_tag("icom_heart_red.svg"), unlike_path(@prototype) , method: :delete, id: "like-button" , remote: :true
/     Like
/     %span.num#like-sum
/     = @prototype.likes.count
/ - else
/   %button.btn.btn-default.increment-button#like-button
/     = link_to image_tag("icon_heart.svg"), like_path(@prototype) , method: :post, id: "like-button" , remote: :true
/     Like
/     %span.num#like-sum
/     = @prototype.likes.count