.form-inline
  = form_for @comment, remote: true do  |f|
    %h4
      Write a comment
    .row
      .form-group.col-md-10
        = f.text_area :text, placeholder: "Your comments", rows: "3", class: "form-control", id: "comment_text"
        = f.hidden_field :proto_id, value: "#{@proto.id}"
        = f.hidden_field :user_id, value: "#{current_user.id}"
      .form-group.col-md-2
        = f.submit "Comment", class: "btn btn-primary"