.container.proto-new
  = form_for @proto do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :title, placeholder: :"Title", class:'proto-new-title'
      .row
        .col-md-12
          .cover-image-upload
            = f.fields_for :thumnails, @proto.thumnails.main do |i|
              = i.file_field :image
              = i.hidden_field :status, value: 'main'

        .col-md-12
          %li.list-group-item.col-md-4
            = f.fields_for :thumnails, @proto.thumnails.sub do |i|
              .image-upload
                = i.file_field :image
                = i.hidden_field :status, value: 'sub'

          %li.list-group-item.col-md-4
            .image-upload-plus
              %span +
          .row.proto-description
            .col-md-12
              =f.text_field :catch_copy, placeholder: :"Catch_Copy"
            .col-md-12
              =f.text_area :concept, cols: "30", rows: "4", placeholder: "Concept"
            .col-md-12
              %h4 Tag List
              .row
                .col-md-3
                  %input{:type => "text", :placeholder => "Web Design"}/
                .col-md-3
                  %input{:type => "text", :placeholder => "UI"}/
                .col-md-3
                  %input{:type => "text", :placeholder => "Application"}/
          .row.text-center.proto-btn
            = f.submit "PUBLISH", class: "btn btn-lg btn-primary btn-block"
